<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body style="font-family:'Open Sans', sans-serif;">

    <%- include('partials/adminNavbar') %>

    <div class="flex pt-[80px]">
        <%- include('partials/adminSidebar') %>

        <main class="md:ml-56 flex-1 p-6 w-full">
            <h1 class="text-xl md:text-3xl font-semibold text-gray-800 mb-6">Admin Dashboard</h1>

            <div class="grid grid-col-1 md:grid-cols-2 custom:grid-cols-2 lg:grid-cols-4 gap-4">

                <div class="bg-black rounded-xl shadow p-3 flex flex-col items-center justify-center text-center">
                    <div class="flex items-center space-x-2">
                        <i class="fa-solid fa-users text-blue-400"></i>
                        <h2 class="text-gray-400 text-md md:text-2xl font-medium">Total Users</h2>
                    </div>                    
                    <p class="font-light text-xl md:text-2xl text-white"><%= totalUsers %></p>
                </div>
                <div class="bg-black rounded-xl shadow p-3 flex flex-col items-center justify-center text-center">
                    <div class="flex items-center space-x-2">
                        <i class="fa-solid fa-chart-line text-green-400"></i>
                        <h2 class="text-gray-400 text-md md:text-2xl font-medium">Items Sold</h2>
                    </div>                    
                    <p class="font-light text-xl md:text-2xl text-white"><%= productsSold %></p>
                </div>
                <div class="bg-black rounded-xl shadow p-3 flex flex-col items-center justify-center text-center">
                    <div class="flex items-center space-x-2">
                        <i class="fa-solid fa-indian-rupee-sign text-yellow-400"></i>
                        <h2 class="text-gray-400 text-md md:text-2xl font-medium">Total Sales</h2>
                    </div>                    
                    <p class="font-light text-xl md:text-2xl text-white"><%= totalSales %></p>
                </div>
                <div class="bg-black rounded-xl shadow p-3 flex flex-col items-center justify-center text-center">
                    <div class="flex items-center space-x-2">
                        <i class="fa-solid fa-hourglass-half text-orange-400"></i>
                        <h2 class="text-gray-400 text-md md:text-2xl font-medium">Pending Orders</h2>
                    </div>                    
                    <p class="font-light text-xl md:text-2xl text-white"><%= pendingOrders %></p>
                </div>
            </div>

            <div class="bg-black rounded-xl p-4 mt-6">
                <h2 class="text-white text-lg font-semibold mb-4">Top Sold Products</h2>
                    <div class="overflow-x-auto">
                        <table class="min-w-full text-left text-sm text-gray-100">
                            <thead class="bg-gray-800 text-gray-100 text-sm md:text-base">
                                <tr>
                                    <th class="px-4 py-3">ID</th>
                                    <th class="px-4 py-3">Product</th>
                                    <th class="px-4 py-3">Category</th>
                                    <th class="px-4 py-3">Price</th>
                                    <th class="px-4 py-3">Units Sold</th>
                                    <th class="px-4 py-3">Revenue</th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-700">
                              <% topProductsWithRevenue.forEach((product, index) => { %>
                                <tr class="hover:bg-gray-800">
                                  <td class="px-4 py-2"><%= skip + index + 1 %></td>
                                  <td class="px-4 py-2 max-w-[150px] truncate"><%= product.name %></td>
                                  <td class="px-4 py-2"><%= product.category.name %></td>
                                  <td class="px-4 py-2">₹<%= product.price.toLocaleString() %></td>
                                  <td class="px-4 py-2"><%= product.sold %></td>
                                  <td class="px-4 py-2"><%= product.revenue %></td>                                 
                              </tr>
                              <% }); %> 
                            </tbody>
                        </table>
                    </div>
            </div>
            <%-include('partials/pagination') %>
            
        </main>

    </div>

    <script>
        const menuBtn = document.getElementById('menu-toggle');
        const menu = document.getElementById('sidebar');

        menuBtn.addEventListener('click', () => {
            menu.classList.toggle('hidden');
        })
    </script>
    
    

</body>
</html>