<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body style="font-family: 'Kanit', sans-serif;">
    
    <%- include('partials/adminNavbar') %>

    <div class="flex pt-[80px]">
        <%- include('partials/adminSidebar') %>

        <main class="md:ml-56 flex-1 p-6 w-full relative">
            <h1 class="text-xl md:text-3xl font-semibold text-gray-800 mb-10">User Management</h1>


            <div class="flex justify-between items-center mb-6">
              
              <div class="flex items-center space-x-1">
                <div class="relative w-64 md:w-96">
                    <form
                    action="/admin/users"
                    method="GET"
                    class="relative flex items-center"
                  >
                    <input
                      type="text"
                      name="search"
                      value="<%= typeof search !== 'undefined' ? search : '' %>"
                      placeholder="Search users..."
                      class="pl-3 py-2 border border-gray-300 rounded-md px-4 w-64 md:w-96 focus:outline-none focus:ring focus:border-none focus:ring-blue-200"
                    >
                
                    <button
                      type="submit"
                      class="absolute inset-y-0 right-0 m-1 p-3 rounded flex items-center bg-gray-200 text-gray-600 hover:text-blue-600">
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                
                  </form>
                </div>
                <% if (search) { %>
                    <a
                      href="/admin/users"
                      class="text-sm text-gray-500 hover:text-gray-600 bg-gray-200 hover:bg-gray-300 px-1 py-3 rounded-md"
                      title="Clear Search"
                    >
                      Clear
                    </a>
                  <% } %>
            </div>
              

                <a href="/admin/user/add" 
                    class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-md shadow">
                    <i class="fa-solid fa-plus"></i>
                    Add User
                </a>
            </div>

            <div class="bg-black rounded-xl shadow p-4 mt-6">
                <h2 class="text-white text-lg font-semibold mb-4">Users</h2>
                    <div class="overflow-x-auto">
                        <table class="min-w-full text-left text-sm text-gray-100">
                            <thead class="bg-gray-800 text-gray-100 text-sm md:text-base">
                                <tr>
                                    <th class="px-4 py-3">No</th>
                                    <th class="px-4 py-3">User Name</th>
                                    <th class="px-4 py-3">Email</th>
                                    <th class="px-4 py-3">Address</th>
                                    <th class="px-4 py-3">Status</th>
                                    <th class="px-4 text-center py-3">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-700">
                              <% users.forEach((user, index) => { %>
                                <tr class="hover:bg-gray-800">
                                  <td class="px-4 py-2"><%= skip + index + 1 %></td>
                                  <td class="px-4 py-2"><%= user.name %></td>
                                  <td class="px-4 py-2"><%= user.email %></td>
                                  <td class="px-4 py-2"><%= user.address %></td>
                                  <td class="px-4 py-2">
                                    <% if (user.status === 'Active') { %>
                                        <span class="text-green-400 font-medium">Active</span>
                                    <% } else if (user.status === 'Blocked') { %>
                                        <span class="text-red-400 font-medium">Blocked</span>
                                    <% } %>
                                  </td>
                                  <td class="px-4 py-2 text-center space-y-2">
                                    
                                    <% if (user.isBlocked) { %>
                                      <form action="/admin/users/unblock/<%= user._id %>?_method=PATCH" method="POST" class="inline-block block-form">
                                        <button type="submit" class="px-3 py-1 rounded-md bg-green-600 text-white hover:bg-green-700">
                                          Unblock
                                        </button>
                                      </form>
                                    <% } else { %>
                                      <form action="/admin/users/block/<%= user._id %>?_method=PATCH" method="POST" class="inline-block block-form">
                                        <button type="submit" class="px-3 py-1 rounded-md bg-red-600 text-white hover:bg-red-700">
                                          Block
                                        </button>
                                      </form>
                                    <% } %>

                                    </div>
                                  </td>
                                                                                                                                                           
                              </tr>
                              <% }); %>
                            </tbody>
                        </table>
                    </div>
            </div>
            <%- include('partials/pagination') %>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        const menuBtn = document.getElementById('menu-toggle');
        const menu = document.getElementById('sidebar');

        menuBtn.addEventListener('click', () => {
            menu.classList.toggle('hidden');
        })

        document.querySelectorAll('.block-form').forEach(form => {
        form.addEventListener('submit', function (e) {
          e.preventDefault(); 
    
          const isUnblock = form.action.includes('/unblock');
    
          Swal.fire({
            title: isUnblock ? 'Unblock User?' : 'Block User?',
            text: isUnblock 
              ? "This will allow the user access again." 
              : "This will restrict the user from accessing the system.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: isUnblock ? '#16a34a' : '#dc2626',
            cancelButtonColor: '#6b7280',
            confirmButtonText: isUnblock ? 'Yes, Unblock' : 'Yes, Block'
          }).then((result) => {
            if (result.isConfirmed) {
              form.submit(); 
            }
          });
        });
      });


    </script>
  
</body>
</html>