<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    


</head>
<body style="font-family:'Open Sans', sans-serif;">
    
      <%- include('partials/userNavbar') %>

      <section class="w-full h-[1000px] bg-cover bg-center relative" style="background-image: url('/images/BannerHero.png');">
        <div class="absolute inset-0 flex flex-col justify-between px-6 md:px-16 py-8 text-white">
            <div class="flex flex-col items-center space-y-4 py-20" style="font-family: 'Jost', sans-serif;">
                <img src="/images/z8logo.jpg" alt="Nikon z8 logo" class="h-10 md:h-12">
                <h1 class="text-4xl md:text-6xl tracking-widest font-medium  bg-gradient-to-r from-blue-500 via-sky-400 to-cyan-300 bg-clip-text text-transparent">READY. ACTION.</h1>
            </div>

            <div class="flex flex-col gap-y-2 items-center space-y-3 text-center">
                <h2 class="text-2xl md:text-4xl font-medium bg-gradient-to-b from-gray-100 via-gray-300 to-gray-500 bg-clip-text text-transparent drop-shadow-md mb-4">The Ultimate Hybrid Camera</h2>
                <p class="text-sm md:text-lg max-w-xl text-gray-200">
                    Powerful performance. Professional build. Compact, lightweight handling. A dream camera for videos and stills.
                </p>
                <h2 class="text-2xl md:text-3xl font-bold text-gray-300">
                    Starting at <span class="text-white font-bold">₹ 59,999</span>
                </h2>
                <!-- <a href="#" class="border border-white text-white px-4 py-2 rounded-3xl font-medium bg-transparent hover:bg-white hover:text-black transition-duration-300">
                    Shop Now
                </a>          -->
            </div>

        </div>
      </section>

      <section class="px-6 md:px-16 py-12 space-y-24">
        <div>
          <h1 class="text-3xl md:text-4xl font-bold text-center mb-2 mt-20 text-gray-600">Shop by Category</h1>
          <p class="text-center text-gray-600 mb-12">Find the perfect camera for every moment — from professional shoots to everyday snaps.

          </p>
        </div>
        
        <% categories.forEach(category => { %>
          <div class="text-center">
            <img src="<%= category.image[0].url %>" alt="<%= category.name %>" 
                 class="mx-auto w-full max-w-5xl h-auto" />
            
            <h1 class="text-3xl md:text-4xl font-bold mt-6"><%= category.name %> Cameras</h1>
            <p class="text-gray-600 mt-2 max-w-xl mx-auto">
              <%= category.description %>
            </p>
            <a href="/shop/category/<%= category._id %>" 
               class="inline-block mt-4 text-black px-6 py-2 rounded-3xl transition-colors duration-200" 
               style="background-color: #ffd500;" 
               onmouseover="this.style.backgroundColor='#DCB800'" 
               onmouseout="this.style.backgroundColor='#ffd500'">
              SHOP NOW
            </a>
          </div>
        <% }) %>
      </section>
             
      <section class="py-12">
        <h2 class="text-center text-3xl md:text-4xl font-bold text-gray-700 mb-2">
          Pick Your Camera Brand
        </h1>
        <p class="text-center text-gray-600 mb-8">
          Explore trusted brands that define photography excellence.
        </p>  

        <div class="flex justify-center items-center gap-6 overflow-x-auto px-4 md:px-16">
          <% brands.forEach(brand => { %>
            <a href="/shop/brand/<%= brand._id %>">
              <img src="<%= brand.image[0].url %>" alt="<%= brand.name %>">
            </a>
          <% }) %>
        </div>
      </section>      

      <%- include('partials/userFooter') %>

      <script src="/js/user/homePage.js"></script>

</body>
</html>

 








