<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body style="font-family:'Open Sans', sans-serif;">

    <%- include('partials/userNavbar') %>

    <section class="px-6 py-20 lg:px-12 lg:py-20 md-px-10 mt-8">
        <h1 class="text-2xl md:text-3xl font-semibold text-gray-800 mb-10">My Account</h1>

        <div id="successMessage" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-60 z-50 hidden">
            <div class="bg-white p-10 rounded-lg shadow-lg w-full max-w-md">
              <h2 class="text-xl font-semibold text-gray-600 mb-6" style="font-family: Michroma, sans-serif;">Camverse</h2>
              <div class="w-full flex items-center justify-center py-4 px-4 text-6xl text-green-600">
                <i class="fa-regular fa-circle-check"></i>
              </div>
              <h1 class="flex items-center justify-center text-2xl font-extralight mb-2" style="font-family: 'Kanit', sans-serif;">Profile updated successfully</h1>
            </div>
        </div>

        <div class="container mx-auto px-6 py-10">
            <h1 class="text-2xl mb-6">My Profile</h1>
        
            <div class="bg-white p-8 shadow-lg max-w-3xl mb-10">
                <div class="flex items-center space-x-6">
                    <% if(user.profileImage) { %>
                        <img src="<%= user.profileImage %>" 
                        alt="Profile Picture"
                        class="w-20 h-20 rounded-full object-cover" />
                    <% } else { %>
                        <i class="fa-solid fa-circle-user text-7xl text-gray-200"></i>
                    <% } %>
                    
                    <div>
                        <h2 class="text-2xl font-medium"><%= user.name %></h2>
                        <p class="text-gray-500"><%= user.email %></p>
                    </div>
                </div>
            
                <hr class="my-6">
            
                <p>
                    <strong class="font-semibold">Phone:</strong>
                    <span class="font-extralight text-gray-500"><%= user.phone || 'Not provided' %></span>
                </p>                  
                <p>
                    <strong class="font-semibold">Gender:</strong>
                    <span class="font-extralight text-gray-500"><%= user.gender || 'Not specified' %></span>
                </p>                 
                <p>
                    <strong class="font-semibold">Date of Birth:</strong>
                    <span class="font-extralight text-gray-500">
                        <%= user.dateOfBirth ? user.dateOfBirth.toDateString() : 'Not provided' %>
                    </span>
                </p>
                <p>
                    <strong class="font-semibold">Joined:</strong>
                    <span class="font-extralight text-gray-500"><%= user.createdAt.toDateString() %></span>
                </p>
            
                <a href="/user/profile/edit/<%= user._id %>" class="mt-6 inline-block bg-teal-600 text-white px-5 py-2.5 hover:bg-teal-700">
                    Edit Profile
                </a>
            </div>


            <a href="/user/profile/change-password" 
                class="block bg-white p-8 shadow-lg max-w-3xl mb-6">
                <div class="flex items-center justify-between">
                    <p class="font-extralight">Password</p>
                    <p class="text-teal-600 font-extralight">Change Password ></p>
                </div>
            </a>
         

            
        </div>
        
    </section>    

    <%- include('partials/mobileFilter') %>

    <%- include('partials/userFooter') %>

    <script src="/js/user/homePage.js"></script>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const success = urlParams.get('success');

        if (success === '1') {
            const message = document.getElementById('successMessage');
            message.classList.remove('hidden');

            setTimeout(() => {
            message.classList.add('hidden');
            const newUrl = window.location.pathname;
            window.history.replaceState({}, document.title, newUrl);
            }, 2000);
        }

    </script>
 
</body>
</html>    