<!-- <div id="coupon-details" 
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-60 z-50 opacity-0 pointer-events-none transition-opacity duration-300">

    <div id="coupon-card"
        class="bg-white rounded-xl shadow-lg p-6 max-h-[80vh] overflow-y-auto w-full max-w-3xl transform scale-90 opacity-0 transition-all duration-300">
        
        <h2 id="modal-title" class="text-xl font-semibold mb-6 text-gray-800">Coupon details</h2>

        <div class="coupon max-w-[250px] p-2 rounded-lg shadow-lg text-gray-500 text-center">
            <div class="dashed-border p-2 border-2 border-dashed border-gray-400 rounded-md">
            <p class="text-base md:text-lg lg:text-xl">
                <span class="font-mono font-bold"><%= coupon.name %></span>
            </p>
            </div>
        </div>

        <p>Description: <%= coupon.description %> </p>
        <p>Coupon type: <%= coupon.discountType %> </p>
        <p>Coupon value: <%= coupon.discountValue %> </p>
        <p>Start date: <%= coupon.startDate %> </p>
        <p>End date: <%= coupon.endDate %> </p>
        <p>Status: <%= coupon.status %> </p>

        <button type="button" 
            id="close-coupon-details"
            class="px-4 py-2 bg-gray-200 rounded-lg hover:bg-gray-300">
            Cancel
        </button>

    </div>    
</div>    

<script>

</script> -->